@layer components{
    .page-content {
    width: 100%;
    /* margin-top: var(--space-10); */
    padding: 3rem;
    gap: var(--space-8);

    @media (max-width: 1024px) {
      /* padding-inline: var(--space-10); */
    }

    @media (max-width: 768px) {
 
      padding: 1.5rem;
    }
  }

  .article-summary{
    @media(max-width: 768px){
        flex-direction: column;

        .btn-wrapper{
            align-self: flex-end;
        }
    }
  }

  .article-description {
    max-width: 35rem;
    color: var(--color-text-app);
    font-weight: 510;
    line-height: 140%;
  }

  .article-btn{
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: var(--space-2);
  }

  .article-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 0 0 #9a9999fb;
    transition: 0.2s;
  }

  .article-btn:active{
    box-shadow: none;
    transform: translateY(3px);
  }

  .approve{
    background: #3ead3e;
  }
  
  .approve:active{
    background: #2d7d2d;
  }

  .reject{
    background: #e53636;
  }

  .reject:active{
    background: #b92c2c;
  }

  *{
    outline: 1px solid red;
  }


  /* --------- nomination section -------- */
  .article-details {
    position: relative;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .article-details,
  .article-sidebar {
    border-radius: var(--space-3);
    background-color: var(--color-white);
  }

  /* ----------- nomination form -------------- */
  .nomination-form {
    flex: 1;
    width: 100%;
    max-width: 56rem;
    padding: var(--space-6);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    border: 1px solid var(--color-border);
    box-shadow: 0 20px 50px rgba(15, 23, 42, 0.06);

    @media (max-width: 1024px) {
      max-width: 100%;
    }

    @media (max-width: 768px) {
      padding: var(--space-5);
    }
  }
}