@import "./base.css";

body {
  background: var(--color-bg-300);
  color: #1f2937;
}

/* LAYOUT */
.article-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: var(--space-9);
  padding: 4rem var(--space-9);

  @media(min-width:1024px){
    padding-inline: 8rem;
  }

}

/* ARTICLE */
.back {
  margin-bottom: var(--space-4);
  color: var(--color-heading-400);
  text-decoration: none;
  padding: var(--space-5) var(--space-9);
}

.article-card {
  background: var(--color-card-200);
  padding: var(--space-6);
  border-radius: var(--space-4);
}

/* TAGS */
.tags span {
  background: var(--color-card-400);
  padding: 6px 12px;
  border-radius: 999px;
  font-size: var(--font-size-xs);
  margin-right: var(--space-2);
}

/* TITLE */
.title {
  font-size: 28px;
  margin: 15px 0;
}

.subtitle {
  color: var(--color-text-400);
  margin-bottom: var(--space-2);
}

/* META */
.meta {
  font-size: var(--space-3);
  color: #9ca3af;
  margin-bottom: var(--space-5);
  padding: var(--space-5) 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* IMAGE */
.hero {
  width: 100%;
  border-radius: var(--radius-lg);
  margin: var(--space-5) 0;
}

/* TEXT */
.article-card p {
  margin-bottom: var(--space-8);
  line-height: 1.6;
}

/* BLOCKQUOTE */
blockquote {
  border-left: 4px solid #d1d5db;
  padding-left: 15px;
  font-style: italic;
  color: #374151;
  margin: 20px 0;
}

/* SUBTITLE */
.article-card h2 {
  margin: var(--space-6) 0 var(--space-5);
}

/* SIDEBAR */
.sidebar .card {
  background: var(--color-card-300);
  padding: var(--space-5);
  border-radius: var(--space-4);
  margin-bottom: var(--space-5);
}

.related {
  margin: var(--space-6) 0px;
}
.news-icon {
  display: flex;
  gap: 6px;
}

.related img {
  width: 100%;
  border-radius: var(--radius-lg);
  margin-bottom: var(--space-4);
}

.related p {
  font-weight: 500;
  margin-bottom: var(--space-2);
}

.related span {
  font-size: var(--font-size-xs);
  color: #6b7280;
}

/* TIP BOX */
.tip {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  text-align: center;
}
.light-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: var(--font-size-6xl);
  height: var(--font-size-6xl);
}

.tip button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: #111827;
  color: var(--color-white);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: 0.3s;
}
.tip button:hover {
  background: var(--color-primary);
}
